@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 221 83% 53%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 221 83% 53%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 14 3.8% 75.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Path: frontend/app/calendar.css */
/* CSS personnalisé pour le calendrier car besoin de surcharger la librairie*/

.fc-timegrid-slot {
  font-weight: bold;
}

/* calendar.css */
.fc-view-harness {
  max-height: 70vh; 
  overflow-y: auto;
  scroll-margin-top: 10rem;
  margin-top: 0.5rem;
}

.fc-day{
  padding: 8px !important;
}

.fc-timegrid-slot-label{
  padding: 2px !important;
}

.fc-toolbar-chunk{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.fc-toolbar-title {
  font-weight: 500;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .fc-toolbar-title {
    font-size: 12px;
  }
}

.fc-header-toolbar{
  margin-top: 1.5rem;
}

.fc-today-button {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  white-space: nowrap !important;
  border-radius: 8px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  transition: background-color 0.3s, color 0.3s !important;
  padding: 8px 16px !important;
  background-color: hsl(221 83% 53%) !important; 
  color: #ffffff !important; 
  border: none !important;
  cursor: pointer !important;
  outline: none !important; 
}

.fc-today-button:hover {
  background-color: #0056b3 !important; 
  color: #e0e0e0 !important; 
}

.fc-today-button:focus,
.fc-next-button:focus,
.fc-prev-button:focus,
.fc-timeGridDay-button:focus,
.fc-timeGridWeek-button:focus,
.fc-dayGridMonth-button:focus {
  box-shadow: none !important; /* Ajoutez cette ligne */
}

.fc-next-button,
.fc-prev-button{
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  white-space: nowrap !important;
  clip-path: circle(40%) !important;
  transition: background-color 0.3s, color 0.3s !important;
  padding: 8px 16px !important;
  background-color: transparent !important; 
  color: black !important; 
  border: none !important;
  cursor: pointer !important;
  outline: none !important; 
}

.fc-prev-button:hover {
  background-color: #f5f5f5 !important; 
}
.fc-next-button:hover {
  background-color: #f5f5f5 !important; 
}

.fc-timeGridDay-button{
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  white-space: nowrap !important;
  border-radius: 8px 0px 0px 8px!important;;
  transition: background-color 0.3s, color 0.3s !important;
  padding: 8px 16px !important;
  background-color: hsl(221 83% 58%) !important; 
  color: #ffffff !important;  
  border: none !important;
  cursor: pointer !important;
  outline: none !important; 
}
.fc-timeGridWeek-button{
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  white-space: nowrap !important;
  border-radius: 0px 0px 0px 0px!important;;
  transition: background-color 0.3s, color 0.3s !important;
  padding: 8px 16px !important;
  background-color: hsl(221 83% 58%) !important; 
  color: #ffffff !important;  
  border: none !important;
  cursor: pointer !important;
  outline: none !important; 
}
.fc-dayGridMonth-button{
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  white-space: nowrap !important;
  border-radius: 0px 8px 8px 0px!important;;
  transition: background-color 0.3s, color 0.3s !important;
  padding: 8px 16px !important;
  background-color: hsl(221 83% 58%) !important; 
  color: #ffffff !important;  
  border: none !important;
  cursor: pointer !important;
  outline: none !important; 
}
.fc-timeGridDay-button:hover,
.fc-timeGridWeek-button:hover,
.fc-dayGridMonth-button:hover {
  background-color: hsl(221 83% 53%) !important; 
  color: #ffffff !important; 
}

.fc-timeGridDay-button.fc-button-active,
.fc-timeGridWeek-button.fc-button-active,
.fc-dayGridMonth-button.fc-button-active {
  background-color: hsl(221 83% 53%) !important; 
  color: #ffffff !important; 
}