@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%; 
    --foreground: 224 71.4% 4.1%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --ring: 263.4 70% 50.4%;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* SCROLL BAR */
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background: none;
  }

  ::-webkit-scrollbar-thumb {
    border: solid 0 transparent;
    background-color: hsl(var(--muted-foreground));
  }

}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Path: frontend/app/calendar.css */
/* CSS personnalisé pour le calendrier car besoin de surcharger la librairie*/

.fc-timegrid-slot {
  font-weight: bold;
}

/* calendar.css */
.fc-view-harness {
  max-height: 80vh; 
  overflow-y: auto;
  margin-top: 0.5rem;
}

.fc-day{
  padding: 8px !important;
}

.fc-timegrid-slot-label{
  padding: 0px !important;
}


.fc-toolbar-chunk{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.fc-toolbar-title {
  font-weight: 500;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .fc-toolbar-title {
    font-size: 12px;
  }
}

.fc-header-toolbar{
  margin-top: 1.5rem;
}

.fc-today-button {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  white-space: nowrap !important;
  border-radius: 8px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  transition: background-color 0.3s, color 0.3s !important;
  padding: 8px 16px !important;
  background-color: hsl(221 83% 53%) !important; 
  color: #ffffff !important; 
  border: none !important;
  cursor: pointer !important;
  outline: none !important; 
}

.fc-today-button:hover {
  background-color: #0056b3 !important; 
  color: #e0e0e0 !important; 
}

.fc-today-button:focus,
.fc-next-button:focus,
.fc-prev-button:focus,
.fc-timeGridDay-button:focus,
.fc-timeGridWeek-button:focus,
.fc-dayGridMonth-button:focus {
  box-shadow: none !important; /* Ajoutez cette ligne */
}

.fc-next-button,
.fc-prev-button{
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  white-space: nowrap !important;
  clip-path: circle(40%) !important;
  transition: background-color 0.3s, color 0.3s !important;
  padding: 8px 16px !important;
  background-color: transparent !important; 
  color: black !important; 
  border: none !important;
  cursor: pointer !important;
  outline: none !important; 
}

.fc-prev-button:hover {
  background-color: #f5f5f5 !important; 
}
.fc-next-button:hover {
  background-color: #f5f5f5 !important; 
}

.fc-timeGridDay-button{
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  white-space: nowrap !important;
  border-radius: 8px 0px 0px 8px!important;;
  transition: background-color 0.3s, color 0.3s !important;
  padding: 8px 16px !important;
  background-color: hsl(221 83% 58%) !important; 
  color: #ffffff !important;  
  border: none !important;
  cursor: pointer !important;
  outline: none !important; 
}
.fc-timeGridWeek-button{
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  white-space: nowrap !important;
  border-radius: 0px 0px 0px 0px!important;;
  transition: background-color 0.3s, color 0.3s !important;
  padding: 8px 16px !important;
  background-color: hsl(221 83% 58%) !important; 
  color: #ffffff !important;  
  border: none !important;
  cursor: pointer !important;
  outline: none !important; 
}
.fc-dayGridMonth-button{
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  white-space: nowrap !important;
  border-radius: 0px 8px 8px 0px!important;;
  transition: background-color 0.3s, color 0.3s !important;
  padding: 8px 16px !important;
  background-color: hsl(221 83% 58%) !important; 
  color: #ffffff !important;  
  border: none !important;
  cursor: pointer !important;
  outline: none !important; 
}
.fc-timeGridDay-button:hover,
.fc-timeGridWeek-button:hover,
.fc-dayGridMonth-button:hover {
  background-color: hsl(221 83% 53%) !important; 
  color: #ffffff !important; 
}

.fc-timeGridDay-button.fc-button-active,
.fc-timeGridWeek-button.fc-button-active,
.fc-dayGridMonth-button.fc-button-active {
  background-color: hsl(221 83% 53%) !important; 
  color: #ffffff !important; 
}